{% extends 'shared/layout.html' %}

{% block extrajs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}


<body>
    <!-- Main Content Section -->
    {% block maincontent %}
    <h2 class="create-event">Create a New Event</h2>
    <form class="event-container" action="{{ url_for('process_event_create') }}" method="POST">
        <p class="event-name">Event Name:</p>
        <input class="event-name-input" type="text" name="event_name" title="Event Name" required>

        <p class="start-date">Start Date:</p>
        <input class="start-date-input" type="date" name="start_date" title="Start Date" required>

        <p class="end-date">End Date:</p>
        <input class="end-date-input" type="date" name="end_date" title="End Date" required>

        <p class="start-time">Daily Start Time:</p>
        <input class="start-time-input" type="time" name="start_time" title="Daily Start Time" required>

        <p class="end-time">Daily End Time:</p>
        <input class="end-time-input" type="time" name="end_time" title="Daily End Time" required>

        <p class="emails-invite">Invitee Emails (comma-separated):</p>
        <textarea class="emails-invite-box" name="invitees" rows="3" cols="40" required></textarea><br>

        <div class="button-wrapper">
            <button class="create-event-button" type="submit">Create Event</button>
        </div>
    </form>
    {% endblock %}

</body>
</html>