<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mohid Imran's Final Project</title>
  <link rel="stylesheet"    href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet"    href="{{ url_for('static', filename='css/header.css') }}">
  <link rel="stylesheet"    href="{{ url_for('static', filename='css/nav.css') }}">
  <link rel="stylesheet"    href="{{ url_for('static', filename='css/footer.css') }}">
  {% block extracss %}{% endblock %}
  {% block extrajs %}{% endblock %}
</head>


<body>
    <article>
    <!-- The navigation bar -->
    <nav>
     <div class="navbar">
        <div class="nav-links">
            <a href="{{ url_for('schedule') }}" 
            title="Create A New Event">
            Create A New Event</a>
     </div>

    </nav>

    <!-- The main content  -->
    <main>
      {% block maincontent %}{% endblock %}

    </main>
    

    <!-- The footer of the file -->
    <footer>
        <p>© 2025 Mohid Imran</p>
    </footer>

    </article>
  
</body>

</html>








